<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Find a Spot</title>
	<link rel="stylesheet" type="text/css" href="/styles/main.sass.css">
</head>
<body>
	<div class="wrapper">
		<header id="header">

			<a id="logo" href="#">
				<?xml version="1.0" encoding="iso-8859-1"?>
				<!-- Generator: Adobe Illustrator 19.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						 viewBox="-275 180.4 90 87" style="enable-background:new -275 180.4 90 87;" xml:space="preserve">
					<path style="fill:#F5B041;" d="M-229.4,185.4h-2.7c-21.5,0-38.8,17.4-38.8,38.8l0,0c0,21.5,17.4,38.8,38.8,38.8h2.7
						c21.4,0,38.8-17.3,38.8-38.8l0,0C-190.6,202.7-208,185.4-229.4,185.4z"/>
					<path style="fill:#F05C39;" d="M-194.5,218c-1-3.3-4-4.7-7.9-5.3l-4.8-15.2c-0.9-2-1.6-2.2-4.1-2.8c-13.5-1.8-26.5-2-39,0
						c-2.1,0.6-3.4,1.5-4.1,3.7l-4.6,14.3c-3-0.2-7.5,2.3-8.1,5.3c0,2.4,2.9,2.5,6.4,2.8l-2,21.1c-0.4,5,0.9,5,4.9,4.9
						c5.5-0.1,5,0.1,4.9-4.8c14.7,2.1,29.4,1.9,44.2-0.6c0.4,4.6-0.5,6,5.8,5.4c4.5-0.3,4.5-1.1,4.8-3.6l-2-22.4
						C-196.5,220.5-194.1,220.5-194.5,218z M-251.9,235.2L-251.9,235.2c-2.5,0-4.6-2-4.6-4.5s2-4.5,4.5-4.5h0.1c2.5,0,4.5,2,4.5,4.5
						S-249.4,235.2-251.9,235.2z M-252.6,220.7c-1.7,0-2.4-1.3-1.8-3.9l3.9-13.8c0.9-2.4,3-3.8,5.9-3.8h29.3c2.4,0,3.5,1.1,4.3,2.8
						l4.5,15.3c0.6,2.1,0,3.2-1.8,3.4C-223.2,222.6-238,222.5-252.6,220.7z M-209.1,235.2L-209.1,235.2c-2.5,0-4.6-2-4.6-4.5
						s2-4.5,4.5-4.5h0.1c2.5,0,4.5,2,4.5,4.5S-206.6,235.2-209.1,235.2z"/>
				</svg>
				<span>find a spot</span>
			</a>

			<nav>
				<a href="#restaurants">Restaurants</a>
				<a href="#login">Sign In</a>
			</nav>
		</header>

		<div class="main_section_wrapper">
			<section id="login">
				<div class="subheader_directions">
					Sign in to find and reserve a parking spot at a local Austin restaurant
				</div>

				<form class="box">
	  				<input type="email" placeholder="email address">
	  				<input type="submit" value="sign in">
				</form>
			</section>

			<section id="restaurants">
				<div class="subheader_directions">
				Select a restaurant to reserve an available parking spot
				</div>
			</section>

			<section id="parking_spots" href="parking">
			</section>
		</div>
		<footer>
		</footer>
	</div>
	<script type="text/template" id="restaurant-list">
        <div class="dash-border"></div>
        <div class="new-restaurant">
            <%= name %>
        </div>
    </script>
    <script type="text/template" id="restaurant-details">
        <div class="restaurant-info">
            <div class="subheader_directions">
				Select your parking spot to reserve space for 30 minutes
			</div>
            <div class="dash-border"></div>
            <div class="new-restaurant restaurant_left"><%= name %></div>
            <div class="parking_lot_right">
	            <div class="restaurant_addy"><%= street_address %></div>
	            <div class="parking_lot_wrapper">
					<div id="parking_spot_1"></div>
					<div id="parking_spot_2"></div>
					<div id="parking_spot_3"></div>
					<div id="parking_spot_4"></div>
					<div id="parking_spot_5"></div>
					<div id="parking_spot_6"></div>
					<div id="parking_spot_7"></div>
					<div id="parking_spot_8"></div>
				</div>
			</div>
        </div>
    </script>
    <script type="text/javascript" src="/scripts/bundle.js"></script>
</body>
</html>

